<!--
	Use ` | safe` to allow html tages within the text string.
	https://mozilla.github.io/nunjucks/templating.html#autoescaping
-->

{% if text %}

	<div id="generic-welcome" style="position: relative; width: 80%; margin: auto;">

		<!-- 

			text
			fontSize
			fontWeight
			intensity
			textAlign

		-->

		<div style="position: relative; top: -200px; width: 100%; left: 0;">
			<div class="{{ classes }}" style="padding-bottom: 15px;">
				{{ text }}
			</div>
			<hr style="border-bottom: 1px solid #666;">
		</div>


	</div>

{% else %}

	<div id="generic-welcome"></div>

{% endif %}
